/*-- scss:rules --*/

/* Get rid of empty space above title */
.bslib-page-fill {
  padding-top: 0px !important;
}

/* Fortmat title */
.app_title {
  font-size: 1.9rem;   
  font-weight: 600;
  line-height: 1.2;
}

/* Fortmat title */
.app_title {
  font-size: 1.25rem;
  line-height: 1.2;
}

/* Allow drop down menu to expand beyond card body */
.bslib-card, .tab-content, .tab-pane, .card-body {
  overflow: visible !important;
}

/* Eliminate white space above figs and tables in card body */
.card-body.bslib-gap-spacing.html-fill-item.html-fill-container:not(.special_nav) {
  padding-top: 0 !important;
}

/* Value box style */
.bslib-value-box {
  .value-box-showcase .bi {
    font-size: clamp(0.01em, 15cqw, 3em) !important;
  }
  .value-box-area {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    padding-left: 7cqw !important;
    padding-right: 7cqw !important;
    margin: 0 !important;
  }
  .value-box-title {
    font-size: clamp(0.1em, 7cqw, 1em) !important;
  }
  .value-box-value {
    font-size: clamp(0.1em, 10cqw, 2em) !important;
  }
}
.bslib-value-box:not(.showcase-bottom) .value-box-grid .value-box-area {
  justify-content: middle !important;
}

/* Value box color themes */
.bg-fws-tan {
  color: #67532f; 
  background-color: #EED8B3;
  border-color: #EED8B3;
}
.bg-fws-yel {
  color: #7d5e03;
  background-color: #FFD660;
  border-color: #FFD660;
}
.bg-fws-ora {
  color: #6f4400;
  background-color: #F2B028;
  border-color: #F2B028;
}
.bg-fws-blu {
  color: #d6e5ee; 
  background-color: #007AC3;
  border-color: #007AC3;
}
/* Card body link styling */
.card a {
  color: #007AC3;
  text-decoration: underline;

  &:hover {
    color: #67A6EB;
  }
}

/* Card tab link styling */
.nav-tabs .nav-link {
  color: #007AC3;

  /* The active tab */
  &.active {
    color: #67A6EB !important;
    text-decoration: underline !important;
    background-color: #FFFFFF !important;
  }

  /* The hover state */
  &:hover {
    color: #67A6EB;
  }
}

/* Datatable download buttons styling */
.btn-secondary {
  margin-top: 1em;
  background-color: #F8F8F8 !important;
  border-color: #D2D2D2 !important;
  color: #000000 !important;
  
  &:hover {
    background-color: #d6e5ee !important;
  }
}

/* bsicon color definitions */
.icon-positive-color {
  color: #009E73;
}
.icon-negative-color {
  color: #D55E00;
}

/* Float datatable download buttons to right side */
div.dt-buttons {
  float: right;
}
/* Spacer required to keep datatable download buttons inside the card border */
p.spacer {
  color: #FFFFFF !important;
  padding-bottom: 15px !important;
}
/* Vertically center the datatable headers */
table.dataTable thead th {
  vertical-align: top;
}